<h1>all comments for folio page : <a href="/viewfolio/{{ foliox._id}}/1">{{ foliox.foliotitle}}</a> </h1>

{{#each filteredComments}}
<div>page#: {{pagenumber}}</div>
<div>comment:</div>
<div>{{ commentcontent }}</div>
{{/each}}