<div class="row">
  
    <h1 class="titleInimageIndex">Need to Go Paperless</h1>

    <section class="col-12">
      <img src="/images/carrying-cases.jpg" class="backImage"  alt="">

    </section>
    {{!-- <p class="col-12">Welcome to {{title}}</p> --}}
  
</div>  
