<div class="row">
    <section class="col-12">
      <img src="/images/carrying-cases.jpg" class="backImage"  alt="">

    </section>
  
    {{!-- <p class="col-12">Welcome to {{title}}</p> --}}
  
</div>  
