<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <h4>
    <a href="/adminlistofusers">TO list of users ADMIN</a> <span> |&nbsp;|</span>
    <a href="/uploadDocuments">TO upload Documents ADMIN and EDITOR</a> <span> |&nbsp;|</span>
    <a href="/listofdocuments">TO list of Documents ALL ROLES</a> <span> |&nbsp;|</span>
  </h4>
  {{{body}}}
  <h3>
    <a href="/logout">Log OUT</a> <span> |&nbsp;|</span>
     <a href="/login">TO Login</a> <span> |&nbsp;|</span>
      <a href="/signup">TO sign up</a> <span> |&nbsp;|</span>
      <a href="/">TO HOME page</a> <span> |&nbsp;|</span>

    </h3>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
  <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.1.266/build/pdf.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>