<h1>Upload page</h1>
<h2>Editors and ADMIN only</h2>
{{#if user}}
  <div>
    <p>your username is: {{ user.username }}</p>
    <p>your role is: {{ user.role }}</p>

    <a href="/">Index</a>
  </div>
{{/if}}

<div></div>
{{!-- enctype="multipart/form-data" --}}
<form action="/uploadDocument" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleInputEmail1">name of folio</label>
    <input name="foliotitle" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter folio name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description: </label>
    <input name="foliodescription" type="text" class="form-control" id="exampleInputPassword1" placeholder="Describe">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Createdby</label>
    <input name="foliocreatedby" type="text" class="form-control" id="exampleInputPassword1" placeholder="Created by">
  </div>
  {{!-- <div class="form-group">
    <label for="exampleInputPassword1">Createdby</label>
    <input name="folioname" type="text" class="form-control" id="exampleInputPassword1" placeholder="Created by">
  </div> --}}
  <div class="form-group">
    <label for="exampleInputPassword1">Createdby</label>
    <input name="thefiletoupload" type="file" class="form-control" id="exampleInputPassword1" placeholder="Created by">
  </div>
  
  {{!-- <input type="file" name="foliourl"> --}}
  <button type="submit" class="btn btn-primary">Upload Folio</button>
  
</form>