<p>you are in list of users page</p>
<h4> ADMIN only</h4>
{{#if user}}
  <h4>
    <p>your username is: {{ user.username }}</p>
    <p>your role is: {{ user.role }}</p>
  </h4>
  <div>====-----=====-----======-------=======</div>
{{/if}}

<div>
  {{#each allUsers}}
    <div> username: {{this.username}}</div>
    <div>role: {{this.username }}</div>
    <hr>
  {{/each}}
</div>